<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{{ category.name }}</title>
</head>

<body>

    <h1>Produits dans la catégorie : {{ category.name }}</h1>
    <ul>
        {% for product in products %}
        <li><a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a></li>
        {% empty %}
        <p>Aucun produit dans cette catégorie.</p>
        {% endfor %}
    </ul>

    <a href="{% url 'category_list' %}">Retour aux catégories</a>

</body>

</html>